 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.box_size{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;

}

.box1{background-color: #fff;}
.box2{background-color: #F8D845;}
.box3{background-color: #CECBD4;}
.box4{background-image: url(img/c_05.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: #000000;
    background-size: cover;

}

.wrap{
    position: absolute;
    width: 1100px;
    height: 900px;
    border: 0px solid red;
}

.b1_img01{
    position: inherit;
    top: 64px;  
}
.b1_img02{
    right: 0px;
    position: inherit;
    top: 79px;
}
.b1_cont{
    bottom: 0px;
    position: inherit;
    border: 0px solid blue;
    width: 323px;
    left: 213px;
    bottom: 138px;
    text-align: right;
    font-family: 'Noto Sans KR', sans-serif;
    
    font-style: Apple SD Gothic Neo;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    letter-spacing: -0.06em;
    line-height: 1.0833333333333333;
    
}

.box2 > .wrap{
    background-image: url('img/c_03.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
}
.b2_cont{
    border: 0px solid blue;
    background-repeat: no-repeat;
    background-position-y: center;
    position: inherit;
    top: 101px;


    font-style: Noto Sans KR;
    font-weight: Bold;
    font-size: 18px;
    color: #000000;
    letter-spacing: -0.06em;
    line-height: 1.4;

}
.box3 > .wrap{
    background-image: url('img/c_04.png');
    background-repeat: no-repeat;
    background-position-y: bottom; 
    background-position-x:center;


}
.b3_cont{
    border: 0px solid blue;
    position: inherit;
    top: 52px;
    

    font-style: Noto Sans KR;
    font-weight: Bold;
    font-size: 18px;
    color: #000000;
    letter-spacing: -0.06em;
    line-height: 1.4;

}

.b4{
    position: inherit;
    border: 0px solid blue;
    width: 100%;
}
.b4_cont01{
    top: 40px;
    display: flex;
    justify-content: center;
    
}
.b4_cont02{
    top: 625px;

    font-style: Apple SD Gothic Neo;
    font-weight: Bold;
    font-size: 24px;
    color: #ffffff;
    letter-spacing: -0.06em;
    line-height: 1.2;
    text-align: center;
 
}
.b4_cont03{
    top: 716px;

    
    font-style: Apple SD Gothic Neo;
    font-weight: Bold;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: -0.06em;
    line-height: 2.1;
    text-align: center;

  

}
.b4_cont04{
    top: 773px;
    display: flex;
    justify-content: center;
}
.b4_cont04 > a > img:hover{
    filter: drop-shadow(0px 0px 8px white);
}